<div id="sidebar"> 
    <div class="inner">
        <section>
            <header class="main-logo">
                {{#if @site.logo}}
                    <a href="{{@site.url}}" class="logo image"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
                {{else}}
                    <a href="{{@site.url}}" class="logo">{{@site.title}}</a>
                {{/if}}
            </header>
            <div class="social-media">
                <ul class="icons">
                    <li><a href="#" class="icon fa-instagram" title="Instagram"><span class="label">Instagram</span></a></li>
                    {{#if @site.twitter}}
                        <li><a href="{{twitter_url @site.twitter}}" class="icon fa-twitter" title="Twitter"><span class="label">Twitter</span></a></li>
                    {{/if}}
                    {{#if @site.facebook}}
                        <li><a href="{{facebook_url @site.facebook}}" class="icon fa-facebook" title="Facebook"><span class="label">Facebook</span></a></li>
                    {{/if}}
                    <li><a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" class="icon fa-rss" target="_blank" rel="noopener"><span class="label" title="RSS">RSS</span></a></li>
                </ul>
            </div>
        </section>

        {{!-- Nav - partials/navigation.hbs --}}
        <section>
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
        </section>
        {{!-- Recent posts --}}

        {{!-- Contact --}}
        {{#get "posts" slug="contact"as |contact|}}
            {{#if contact}}{{#foreach contact}}
                <section>
                    <header class="major">
                        <h2>{{title}}</h2>
                    </header>
                    {{content}}
                </section>
            {{/foreach}}{{/if}}
        {{/get}}

        {{!-- Footer --}}
        <footer id="footer">
            <p><small>© {{date format="YYYY"}}. All Rights Reserved. </small><strong>Geek Request</strong></p>
        </footer>

    </div>
</div>
